.Active_InActive{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}


.popup-button {
  padding: 5px;
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.popup-content{
  max-height: 80vh;
  overflow-y: auto;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 10px;
  z-index: 1000;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  display: none;
}


body.dark-mode .site-header {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

body.dark-mode .popup {
  background-color: #2c2c2c;
  color: #f0f0f0;
}

body.dark-mode .popup-button {
   color: #f0f0f0;
}

body.dark-mode .overlay {
  color: #f0f0f0;
}

body.dark-mode .x{
    color: #3b82f6;
    background-color: green;
}

body.dark-mode .Active_InActive {
  background-color: #1e1e1e;
    color: #f0f0f0;
}

body.dark-mode .active-list,
body.dark-mode .in-active-list {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.theme-transition * {
  transition: all 0.3s !important;
}

.active-list li {
  color: green;
}

.inactive-list li {
  color: gray;
}

.popup-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  display: block;
  margin: 0 auto 1rem auto; /* center logo with some spacing */
}