.standings-year-select-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.standings-year-select-wrap select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.chart-container {
  width: 100%;
  overflow-x: auto;   /* enables horizontal scroll */
}

#managersLineChart {
  min-width: 900px;   /* forces chart to be readable */
  height: 500px;
}

#managersLineChart2 {
  min-width: 900px;   /* forces chart to be readable */
  height: 500px;
}
